<!DOCTYPE html>
<html lang="en">
<head>
   
{{>headerLink}}

</head>
<body>
   {{>nav}}
   <div class="fixbody">
    <div class="container">
        <h2>404</h2>
        <h3>Oops, nothing here...</h3>
        <p>Please Check the URL</p>
        <p>Otherwise, <a href="/">Click here</a> to redirect to homepage.</p>
    </div>
    </div>
    {{>footer}}
</body>
</html>